.scoreSheet {
  background-color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  padding: 2rem 2rem 4rem 2rem;

  &Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 1rem 0;
  }

  &DiceImage {
    height: 8rem;
  }

  &Heading {
    letter-spacing: 2px;
    font-size: 4rem;
  }
}

.lowerSection,
.upperSection {
  border-left: 1px solid black;
  border-collapse: collapse;
}

.upperSection {
  margin-bottom: 1rem;
  border-top: 1px solid black;
}

.headingLarge {
  font-weight: bold;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.headingSmall {
  font-weight: bold;
  font-size: 1.4rem;
}

.textSmall {
  font-size: 1.3rem;
}

.textTiny {
  font-size: 1.15rem;
}

.textUpper {
  text-transform: uppercase;
}

.textBold {
  font-weight: bold;
}

.leftColumn {
  width: 17rem;
  text-align: left;
}

.howToScoreColumn {
  width: 13rem;
  text-align: center;
}

.titleWithDescription {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

td,
th {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  width: 6rem;
  height: 3rem;
}

tr {
  background-color: white;
}

.cellLight {
  background-color: var(--color-cell-light);
}

.cellDark {
  background-color: var(--color-cell-dark);
}
