:root {
  --color-cell-light: #dee8e0;
  --color-cell-dark: #cfcfcf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

.app {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.main-play-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 120rem;
  background: linear-gradient(to bottom, #4CAF50, #2E7D32); /* Green gradient */
  padding: 5rem;
}
