:root {
  --color-cell-light: #dee8e0;
  --color-cell-dark: #cfcfcf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

.app {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.game-mat {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  max-width: 120rem;
  background: linear-gradient(to bottom, #4CAF50, #2E7D32); /* Green gradient */
  padding: 5rem;
}

.play-area {
  width: 50rem;
  text-align: center;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.start-game-button {
  padding: 2rem 3rem;
  background-color: lightblue;
  border: none;
  border-radius: 4px;
  font-size: 2.2rem;
  text-transform: uppercase;

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      background-color: rgb(139, 184, 199);
    }
  }
}

.roll-button {
  padding: 1rem 0;
  background: linear-gradient(to right, white, #444);
  width: 16rem;
  border: none;
  font-size: 1.9rem;
  border-radius: 4px;
  transform: translateY(0);
  transition: transform .1s ease-in;

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 .5rem 1rem rgba(0,0,0,0.3);
    }
  }

  &:not(:disabled):active {
    transform: translateY(0);
  }
}